body {
  background-color: burlywood;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.container {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  padding: 0 10px;
  border-radius: 30px;
}
h2{
  text-align: center;
}